.previewTab{
    display: inline-block;

}

#photoContainer{
    width: 25%;
    height: 25%;
}

.previewContainer{
    border: 2px solid black;
    padding: 10px;
}

.previewName{
    text-align: center;
}